Repository saya01002x0x/GR: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-check-types

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}

# Validate content before committing
pre-commit:
  commands:
    frontend-lint:
      root: frontend/
      glob: '*'
      run: npx --no -- eslint --fix --no-warn-ignored {staged_files}
      stage_fixed: true
      priority: 1
    frontend-check-types:
      root: frontend/
      glob: '*.{ts,tsx}'
      run: npm run check:types
      priority: 2

chore(do an): bo sung them chuong 2 va viet lai chuong 3
  frontend/src/api/hooks/useDiscover.ts
  frontend/src/app/[locale]/discover/page.tsx
  slide/official/Chuong/1_Gioi_thieu.tex
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/3_Cong_nghe.tex
  slide/official/Danh_sach_tai_lieu_tham_khao.bib
  slide/official/Hinhve/Hinh_2_1_Use_case_tong_quat.png
  slide/official/Hinhve/Hinh_2_2_Use_case_Quan_ly_tai_khoan.png
  slide/official/Hinhve/Hinh_2_3_Use_case_Quan_ly_tac_pham.png
  slide/official/Hinhve/Hinh_2_4_Use_case_Tim_kiem_kham_pha.png
  slide/official/Hinhve/Hinh_2_5_Use_case_Tuong_tac_cong_dong.png
  slide/official/Hinhve/Hinh_2_6_Use_case_Thanh_vien_thanh_toan.png
  slide/official/Hinhve/Hinh_2_7_Use_case_Kiem_duyet_quan_tri.png
  slide/official/Hinhve/Hinh_2_8_Quy_trinh_dang_tai_xu_ly_anh.png
  slide/official/Hinhve/Hinh_2_9_Quy_trinh_thanh_vien_tier.png
  tem.png
Due: frontend-lint, frontend-check-types

chore(doan): bo sung them phan 4.1 chuong 4
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/Hinhve/Hinh_4_1_Bieu_do_phu_thuoc_goi.png
  slide/official/Hinhve/Hinh_4_2_Thiet_ke_goi_Identity.png
  slide/official/Hinhve/Hinh_4_3_Thiet_ke_goi_Core.png
  slide/official/Hinhve/Hinh_4_4_Thiet_ke_goi_Social.png
  slide/official/Hinhve/Hinh_4_5_Thiet_ke_goi_Intelligence.png
  slide/official/Hinhve/Hinh_4_6_Thiet_ke_goi_Management.png
Due: none

chore(doan): bo sung them chuong 5
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/Chuong/5_Giai_phap_dong_gop.tex
  slide/official/Hinhve/Hinh_4_10_Mockup_Trang_Chu.png
  slide/official/Hinhve/Hinh_4_11_Mockup_Chi_Tiet_Tranh.png
  slide/official/Hinhve/Hinh_4_12_Bieu_Do_Lop_Chinh.png
  slide/official/Hinhve/Hinh_4_13_Tuan_Tu_Dang_Tranh.png
  slide/official/Hinhve/Hinh_4_14_Tuan_Tu_Tim_Kiem_AI.png
  slide/official/Hinhve/Hinh_4_15_Tuan_Tu_Mua_Goi.png
  slide/official/Hinhve/Hinh_4_16_Bieu_Do_ERD.png
  slide/official/Hinhve/Hinh_4_8_Bang_Mau_Nen.png
  slide/official/Hinhve/Hinh_4_9_Bang_Mau_Chu_Dao.png
  slide/official/Hinhve/Screen_Detail.png
  slide/official/Hinhve/Screen_Home.png
  slide/official/Hinhve/Screen_Subscription.png
  slide/official/Hinhve/Screen_Upload.png
Due: none

fix(doan): loi lien quan den thuoc tinh h
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/DoAn.tex
Due: none

refactor: thay doi cac su kien lien quan den notice sang emit
  backend/package.json
  backend/src/app.module.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/admin/auto-unban.task.ts
  backend/src/modules/comments/comments.service.ts
  backend/src/modules/likes/likes.service.ts
  backend/src/modules/notifications/notification.listener.ts
  backend/src/modules/notifications/notifications.module.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  pnpm-lock.yaml
Due: none

refactor: thay doi cau truc ve emit, forward ref
  backend/scripts/sync-search.ts
  backend/src/modules/artworks/artworks.module.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/clerk.strategy.ts
  backend/src/modules/auth/optional-clerk.guard.ts
  backend/src/modules/search/search.controller.ts
  backend/src/modules/search/search.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/users/users.service.ts
  docs/Giaithich.md
  docs/Nestjs_Guide.md
  docs/Nextjs_Guide.md
  frontend/src/components/search/SearchBar.tsx
  slide/official/Chuong/0_2_Loi_cam_on.tex
  slide/official/Chuong/1_Gioi_thieu.tex
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/3_Cong_nghe.tex
Due: frontend-lint, frontend-check-types

chore: update them ve gr docs va 1 so code
  backend/src/modules/collections/collections.module.ts
  backend/src/modules/comments/comments.module.ts
  backend/src/modules/follows/follows.module.ts
  backend/src/modules/likes/likes.module.ts
  backend/src/modules/recommendations/interactions.service.ts
  backend/src/modules/recommendations/recommendations.module.ts
  frontend/src/libs/MantineProvider.tsx
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/Chuong/5_Giai_phap_dong_gop.tex
  slide/official/Chuong/6_Ket_luan.tex
  slide/official/Hinhve/Hinh_4_12_Bieu_Do_Lop_Chinh.png
  slide/official/Hinhve/Hinh_4_1_Bieu_do_phu_thuoc_goi.png
  slide/official/Hinhve/Hinh_4_2_Thiet_ke_goi_Identity.png
  slide/official/Hinhve/Hinh_4_4_Thiet_ke_goi_Social.png
Due: frontend-lint, frontend-check-types

chore(deploy): setup docker compose, nginx configuration and deployment guide
  .dockerignore
  .env.production.example
  .gitignore
  DEPLOY_GUIDE_A_Z.md
  backend/Dockerfile
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/next.config.ts
  nginx/nginx.conf
Due: frontend-lint, frontend-check-types

fix: remove thu muc khong can thiet
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend-lint

fix: them co legacy cho pnpm v10
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend-lint

fix: boc suspense de sua loi build Next.js
  frontend/src/app/[locale]/checkout/success/page.tsx
Due: frontend-lint, frontend-check-types

fix: sinh prisma client truc tiep tren production
  backend/Dockerfile
Due: none

fix: khoa phien ban prisma v6
  backend/Dockerfile
Due: none

fix: chuyen sang node slim de chay AI va loi push db
  backend/Dockerfile
Due: none

fix: cai openssl va sharp cho production
  backend/Dockerfile
Due: none

fix: sua duong dan main.js cho backend
  backend/Dockerfile
  docs/Nestjs_Guide.md
Due: none

fix: them REDIS_HOST cho BullMQ
  docker-compose.prod.yml
Due: none

fix: xoa bo bundle-analyzer
  frontend/next.config.ts
Due: frontend-lint, frontend-check-types

fix: them thu vien require-in-the-middle
  frontend/package.json
Due: frontend-lint

fix: doi duong link anh sang HTTPS
  backend/src/main.ts
  backend/src/modules/storage/storage.service.ts
  docker-compose.prod.yml
  frontend/next.config.ts
  frontend/src/instrumentation.ts
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

fix: remove sentry
  frontend/next.config.ts
Due: frontend-lint, frontend-check-types

chore(doan): cap nhat final
  slide/official/Bia.tex
  slide/official/Bia_lot.tex
  slide/official/Chuong/0_4_Tom_tat_noi_dung_English.tex
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/3_Cong_nghe.tex
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/Chuong/5_Giai_phap_dong_gop.tex
  slide/official/Hinhve/Hinh_4_10_Mockup_Trang_Chu.png
  slide/official/Hinhve/Hinh_4_11_Mockup_Chi_Tiet_Tranh.png
Due: none

chore(doan): update them ve tai lieu
  slide/official/Bia.tex
  slide/official/Bia_lot.tex
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/3_Cong_nghe.tex
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/Chuong/5_Giai_phap_dong_gop.tex
  slide/official/Danh_sach_tai_lieu_tham_khao.bib
  slide/official/DoAn.tex
  slide/official/Hinhve/Screen_Detail.png
  slide/official/Hinhve/Screen_Home.png
  slide/official/Hinhve/Screen_Subscription.png
  slide/official/Hinhve/Screen_Upload.png
Due: none

chore(doan): update bia
  slide/official/Bia.tex
  slide/official/Bia_lot.tex
Due: none

chore(doan): update ve phan danh so muc luc
  slide/official/Chuong/0_2_Loi_cam_on.tex
  slide/official/Chuong/0_3_Tom_tat_noi_dung.tex
  slide/official/Chuong/0_4_Tom_tat_noi_dung_English.tex
  slide/official/DoAn.tex
Due: none

chore(doan): fix final
  slide/official/Bia.tex
  slide/official/Bia_lot.tex
  slide/official/Chuong/0_3_Tom_tat_noi_dung.tex
  slide/official/Chuong/0_4_Tom_tat_noi_dung_English.tex
  slide/official/Chuong/0_5_Danh_muc_viet_tat.tex
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/3_Cong_nghe.tex
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/Chuong/5_Giai_phap_dong_gop.tex
  slide/official/Chuong/6_Ket_luan.tex
  slide/official/Danh_sach_tai_lieu_tham_khao.bib
  slide/official/DoAn.tex
Due: none

chore(doan): final
  docs/Giaithich.md
  scratch/mockup_detail.html
  scratch/mockup_home.html
  slide/official/Chuong/0_5_Danh_muc_viet_tat.tex
  slide/official/Chuong/1_Gioi_thieu.tex
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/3_Cong_nghe.tex
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/DoAn.pdf
  slide/official/DoAn.tex
Due: none

chore: fix nhe truoc khi phan bien
  backend/src/modules/artworks/artworks.service.ts
  frontend/src/api/endpoints.ts
  frontend/src/components/artwork-detail/RelatedArtworks.tsx
  frontend/src/instrumentation.ts
  scratch/append_giaithich.js
  scratch/mockup_detail.html
  scratch/mockup_home.html
Due: frontend-lint, frontend-check-types

fix(test): fix lai lien quan test
  backend/src/modules/ai-search/ai-search.service.spec.ts
  backend/src/modules/artworks/artworks.service.spec.ts
  backend/src/modules/auth/clerk.strategy.spec.ts
  backend/src/modules/search/search.controller.spec.ts
  frontend/src/app/[locale]/discover/page.tsx
Due: frontend-lint, frontend-check-types

fix: loi lq den search
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/search/dto/search-artwork.dto.ts
  backend/src/modules/search/search.controller.ts
  backend/src/modules/search/search.service.ts
  frontend/src/components/search/AdvancedFilterPanel.tsx
  frontend/src/components/search/constants.ts
  frontend/src/components/search/index.ts
  phanbien.md
Due: frontend-lint, frontend-check-types

fix: other fix
  backend/scripts/sync-search.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  frontend/src/app/[locale]/discover/page.tsx
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/discover/RankingSection.tsx
  frontend/src/components/discover/SidebarContent.tsx
  frontend/src/components/search/SketchSearchModal.tsx
Due: frontend-lint, frontend-check-types

fix: feedback light house
  backend/src/modules/storage/storage.service.ts
  docs/Giaithich.md
  docs/Nextjs_Guide.md
  frontend/src/app/[locale]/discover/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/artwork/ArtworkCard.tsx
  frontend/src/components/discover/HeroSection.tsx
  frontend/src/components/discover/SidebarContent.tsx
  frontend/src/middleware.ts
  frontend/src/styles/global.css
  nginx/nginx.conf
Due: frontend-lint, frontend-check-types

fix: hotfix
  frontend/src/middleware.ts
Due: frontend-lint, frontend-check-types

fix: hotfix 002
  frontend/src/app/[locale]/discover/DiscoverPageClient.tsx
  frontend/src/app/[locale]/discover/page.tsx
Due: frontend-lint, frontend-check-types

fix: hotfix 003
  frontend/src/instrumentation-client.ts
  frontend/src/instrumentation.ts
Due: frontend-lint, frontend-check-types

chore: cảm ơn vì tất cả 20:49-05082026
  docker-compose.yml
  frontend/instrumentation.ts
  frontend/src/components/layout/NotificationBell.tsx
Due: frontend-lint, frontend-check-types
