Repository saya01002x0x/GR: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-check-types

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}

# Validate content before committing
pre-commit:
  commands:
    frontend-lint:
      root: frontend/
      glob: '*'
      run: npx --no -- eslint --fix --no-warn-ignored {staged_files}
      stage_fixed: true
      priority: 1
    frontend-check-types:
      root: frontend/
      glob: '*.{ts,tsx}'
      run: npm run check:types
      priority: 2

chore: add commitlint configuration and dependencies for commit message linting
  package.json
  pnpm-lock.yaml
Due: none

chore: set up backend structure with NestJS, ESLint, Prettier, and initial components
  backend/.prettierrc
  backend/README.md
  backend/eslint.config.mjs
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  frontend/src/templates/README.md
  pnpm-lock.yaml
Due: frontend-lint

refactor: restructure backend to enterprise architecture
  backend/package-lock.json
  backend/package.json
  backend/src/README.md
  backend/src/app.module.ts
  backend/src/common/decorators/current-user.decorator.ts
  backend/src/common/decorators/roles.decorator.ts
  backend/src/config/configuration.ts
  backend/src/config/env.validation.ts
  backend/src/modules/artworks/artworks.controller.spec.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.spec.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/clerk/clerk.guard.spec.ts
  backend/src/modules/auth/clerk/clerk.guard.ts
  backend/src/modules/auth/providers/clerk-client.provider.ts
  backend/src/modules/auth/strategies/clerk.strategy.ts
  docs/HOWTO_NESTJS_MODULES.md
  docs/MIGRATION_GUIDE.md
  docs/REFACTORING_LOG.md
  docs/SETUP_CHECKLIST.md
Due: none

chore: chưa biết nó chạy được hay không nữa
  HYBRID_MODE_SETUP.md
  SETUP_COMPLETE.md
  backend/Dockerfile
  backend/package.json
  backend/src/modules/artworks/artworks.controller.ts
  docker-compose.yml
  docs/QUICK_START.md
  docs/SHARED_PACKAGE.md
  docs/SHARED_PACKAGE_PLAN.md
  frontend/Dockerfile
  frontend/package.json
  frontend/src/examples/shared-package-usage.tsx
  packages/shared/.gitignore
  packages/shared/README.md
  packages/shared/package.json
  packages/shared/src/constants/index.ts
  packages/shared/src/dtos/artwork.dto.ts
  packages/shared/src/index.ts
  packages/shared/src/types/index.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend-lint, frontend-check-types

feat: them artist public profile va mock
  frontend/package.json
  frontend/src/app/[locale]/artists/[username]/page.tsx
  frontend/src/app/[locale]/artists/layout.tsx
  frontend/src/components/artist/ArtworkCard.tsx
  frontend/src/components/artist/ArtworkGallery.tsx
  frontend/src/components/artist/ProfileSidebar.tsx
  frontend/src/components/artist/index.ts
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/ArtistsLayoutShell.tsx
  frontend/src/components/layout/index.ts
  frontend/src/libs/MantineProvider.tsx
  frontend/src/mocks/artistData.ts
  frontend/src/styles/global.css
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

feat: them page discover
  frontend/src/app/[locale]/(marketing)/layout.tsx
  frontend/src/app/[locale]/artists/layout.tsx
  frontend/src/app/[locale]/discover/page.tsx
  frontend/src/app/[locale]/layout.tsx
  frontend/src/components/artist/ArtworkCard.tsx
  frontend/src/components/artwork/ArtworkCard.tsx
  frontend/src/components/artwork/index.ts
  frontend/src/components/discover/CategoryPills.tsx
  frontend/src/components/discover/DiscoverGrid.tsx
  frontend/src/components/discover/FeaturedArtwork.tsx
  frontend/src/components/discover/HeroSection.tsx
  frontend/src/components/discover/RankingSection.tsx
  frontend/src/components/discover/SidebarContent.tsx
  frontend/src/components/discover/index.ts
  frontend/src/components/layout/AppLayoutShell.tsx
  frontend/src/components/layout/index.ts
  frontend/src/mocks/discoverData.ts
  frontend/src/styles/global.css
Due: frontend-lint, frontend-check-types

feat: artwork detail page + mock
  frontend/src/app/[locale]/artworks/[id]/page.tsx
  frontend/src/components/artwork-detail/ArtworkActions.tsx
  frontend/src/components/artwork-detail/ArtworkImage.tsx
  frontend/src/components/artwork-detail/ArtworkSidebar.tsx
  frontend/src/components/artwork-detail/CommentsSection.tsx
  frontend/src/components/artwork-detail/RelatedArtworks.tsx
  frontend/src/components/artwork-detail/index.ts
  frontend/src/mocks/artworkDetailData.ts
Due: frontend-lint, frontend-check-types

feat: trang 404
  frontend/src/app/[locale]/not-found.tsx
  frontend/src/app/not-found.tsx
  frontend/src/styles/global.css
Due: frontend-lint, frontend-check-types

feat: dashboard va signin/signup k bt co hoat dong khong
  backend/src/common/decorators/current-user.decorator.ts
  backend/src/config/configuration.ts
  backend/src/config/env.validation.ts
  backend/src/main.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/auth/strategies/clerk.strategy.ts
  docs/Giaithich.md
  docs/HOWTO_NESTJS_MODULES.md
  docs/Nestjs_Guide.md
  docs/Nextjs_Guide.md
  frontend/package.json
  frontend/src/app/[locale]/(auth)/(center)/layout.tsx
  frontend/src/app/[locale]/(auth)/(center)/sign-in/[[...sign-in]]/page.tsx
  frontend/src/app/[locale]/(auth)/(center)/sign-up/[[...sign-up]]/page.tsx
  frontend/src/app/[locale]/(auth)/dashboard/layout.tsx
  frontend/src/app/[locale]/(auth)/dashboard/page.tsx
  frontend/src/app/[locale]/(auth)/dashboard/user-profile/[[...user-profile]]/page.tsx
  frontend/src/app/[locale]/(auth)/layout.tsx
  frontend/src/app/[locale]/dashboard/page.tsx
  frontend/src/app/[locale]/dashboard/profile/page.tsx
  frontend/src/components/auth/AuthPageLayout.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/dashboard/DashboardSidebar.tsx
  frontend/src/components/dashboard/ProfileForm.tsx
  frontend/src/components/dashboard/ProfileVisibility.tsx
  frontend/src/components/dashboard/SensitiveContent.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/libs/Env.ts
  frontend/src/mocks/dashboardData.ts
Due: frontend-lint, frontend-check-types

feat: prisma
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/database/index.ts
  backend/src/database/prisma.module.ts
  backend/src/database/prisma.service.ts
  docs/DATABASE.md
  docs/Giaithich.md
  docs/Nestjs_Guide.md
  pnpm-lock.yaml
Due: none

feat: dashboard get real data from clerk
  frontend/src/app/[locale]/dashboard/content/page.tsx
  frontend/src/app/[locale]/dashboard/general/page.tsx
  frontend/src/app/[locale]/dashboard/membership/page.tsx
  frontend/src/app/[locale]/dashboard/notifications/page.tsx
  frontend/src/app/[locale]/dashboard/security/page.tsx
  frontend/src/app/[locale]/layout.tsx
  frontend/src/components/Sponsors.tsx
  frontend/src/components/dashboard/ContentPreferences.tsx
  frontend/src/components/dashboard/GeneralSettings.tsx
  frontend/src/components/dashboard/MembershipPlan.tsx
  frontend/src/components/dashboard/NotificationSettings.tsx
  frontend/src/components/dashboard/ProfileForm.tsx
  frontend/src/components/dashboard/index.ts
  repomix-output.txt
Due: frontend-lint, frontend-check-types

feat: chinh sua app header lay thong tin chinh xac
  frontend/src/components/layout/AppHeader.tsx
Due: frontend-lint, frontend-check-types

feat: them actionIcon switch light va dark theme, user db
  backend/src/app.module.ts
  backend/src/common/decorators/current-user.decorator.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/strategies/clerk.strategy.ts
  backend/src/modules/users/users/users.module.ts
  backend/src/modules/users/users/users.service.ts
  frontend/src/components/layout/AppHeader.tsx
Due: frontend-lint, frontend-check-types

feat: bo sung hero page, tinh nang upload dung minio
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/artworks/artworks/artworks.module.ts
  backend/src/modules/storage/storage.service.ts
  backend/src/modules/storage/storage/storage.module.ts
  backend/src/modules/users/users/users.controller.ts
  backend/src/modules/users/users/users.module.ts
  backend/src/modules/users/users/users.service.ts
  frontend/package.json
  frontend/src/app/[locale]/(marketing)/page.tsx
  frontend/src/app/[locale]/upload/page.tsx
  frontend/src/components/dashboard/BecomeArtistModal.tsx
  frontend/src/components/dashboard/DashboardSidebar.tsx
  frontend/src/components/heropage/ArtistSpotlight.module.css
  frontend/src/components/heropage/ArtistSpotlight.tsx
  frontend/src/components/heropage/HeroFooter.tsx
  frontend/src/components/heropage/HeroSection.module.css
  frontend/src/components/heropage/HeroSection.tsx
  frontend/src/components/heropage/TrendingSection.tsx
  frontend/src/components/layout/AppLayoutShell.tsx
  frontend/src/types/clerk.d.ts
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

feat: them chuc nang upload artwork
  backend/src/main.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  frontend/src/app/[locale]/dashboard/works/page.tsx
  frontend/src/app/[locale]/layout.tsx
  frontend/src/app/[locale]/upload/page.tsx
  frontend/src/components/dashboard/BecomeArtistModal.tsx
  frontend/src/components/dashboard/DashboardSidebar.tsx
Due: frontend-lint, frontend-check-types

feat: ket noi api den be voi fe page discover
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  frontend/src/app/[locale]/artworks/[id]/page.tsx
  frontend/src/app/[locale]/discover/page.tsx
  frontend/src/components/discover/DiscoverGrid.tsx
  frontend/src/types/artwork.ts
Due: frontend-lint, frontend-check-types

feat: bo sung artwork cmt, like, quan ly collection folder
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/collections/collections.controller.ts
  backend/src/modules/collections/collections.module.ts
  backend/src/modules/collections/collections.service.ts
  backend/src/modules/comments/comments.controller.ts
  backend/src/modules/comments/comments.module.ts
  backend/src/modules/comments/comments.service.ts
  backend/src/modules/likes/likes.controller.ts
  backend/src/modules/likes/likes.module.ts
  backend/src/modules/likes/likes.service.ts
  docs/MVP_5_DAYS_ROADMAP.md
  frontend/package.json
  frontend/src/app/[locale]/artworks/[id]/page.tsx
  frontend/src/components/artwork-detail/ArtworkActions.tsx
  frontend/src/components/artwork-detail/CommentsSection.tsx
  frontend/src/components/artwork-detail/SaveToCollectionModal.tsx
  frontend/src/components/artwork-detail/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-collections.ts
  frontend/src/hooks/use-comments.ts
  frontend/src/hooks/use-like.ts
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

feat: fix upload 1 thanh 1 hoac nhieu anh
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/storage/storage.service.ts
  frontend/src/app/[locale]/artworks/[id]/page.tsx
  frontend/src/app/[locale]/upload/page.tsx
  frontend/src/components/artwork-detail/ArtworkImageGallery.tsx
  frontend/src/components/artwork-detail/index.ts
  frontend/src/types/artwork.ts
Due: frontend-lint, frontend-check-types

feat: them swagger va roadmap
  backend/package.json
  backend/src/main.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/collections/collections.controller.ts
  backend/src/modules/comments/comments.controller.ts
  backend/src/modules/likes/likes.controller.ts
  backend/src/modules/users/users/users.controller.ts
  docs/ROADMAP.md
  pnpm-lock.yaml
Due: none

feat: them redis va queue bullqm ho tro upload anh
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/artworks/artworks/artworks.module.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/queue/queue.constants.ts
  backend/src/modules/queue/queue.module.ts
  backend/src/modules/storage/storage.service.ts
  docs/SPRINT5_BULLMQ_IMPLEMENTATION.md
  pnpm-lock.yaml
Due: none

chore: xoá docs k cần thiết
  docs/Giaithich.md
  docs/MEILISEARCH_IMPLEMENTATION.md
  docs/MVP_5_DAYS_ROADMAP.md
  docs/Nestjs_Guide.md
  docs/Nextjs_Guide.md
  docs/ROADMAP.md
  docs/SHARED_PACKAGE_PLAN.md
  docs/llms_mantine.txt
  repomix-output.txt
Due: none

feat: them meilisearch
  backend/package.json
  backend/scripts/sync-search.ts
  backend/src/app.module.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/queue/queue.module.ts
  backend/src/modules/search/dto/search-artwork.dto.ts
  backend/src/modules/search/search.controller.ts
  backend/src/modules/search/search.module.ts
  backend/src/modules/search/search.service.ts
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/AdvancedFilterPanel.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/constants.ts
  frontend/src/components/search/index.ts
Due: frontend-lint, frontend-check-types

feat: them searchbar, trang ket qua sau khi tim kiem
  frontend/src/components/heropage/HeroSection.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/search/SearchBar.tsx
Due: frontend-lint, frontend-check-types

feat: chinh sua ve ui thanh tim kiem
  frontend/src/app/[locale]/upload/page.tsx
  frontend/src/styles/global.css
Due: frontend-lint, frontend-check-types

feat: them chuc nang them watermark
  backend/nest-cli.json
  backend/src/assets/watermarks/icon_daonhai_GR.png
  backend/src/main.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/queue/queue.constants.ts
  backend/src/modules/search/dto/search-artwork.dto.ts
  backend/src/modules/search/search.service.ts
  backend/src/modules/storage/storage.service.ts
  frontend/public/icon_daonhai_GR.png
  frontend/src/app/[locale]/upload/page.tsx
  frontend/src/components/heropage/HeroSection.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/upload/WatermarkOptions.module.css
  frontend/src/components/upload/WatermarkOptions.tsx
  frontend/src/types/watermark.ts
Due: frontend-lint, frontend-check-types

feat: add ratio va resolution fields o artwork
  backend/prisma/schema.prisma
  backend/scripts/sync-search.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/search/dto/search-artwork.dto.ts
  backend/src/modules/search/search.controller.ts
  backend/src/modules/search/search.service.ts
  docs/API_KEYS.md
  docs/CLERK_SETUP.md
  docs/COMMON_ERRORS.md
  docs/DATABASE.md
  docs/MEILISEARCH_IMPLEMENTATION.md
  docs/MIGRATION_GUIDE.md
  docs/QUICK_START.md
  docs/REFACTORING_LOG.md
  docs/SETUP_CHECKLIST.md
  docs/SHARED_PACKAGE.md
  docs/SPRINT5_BULLMQ_IMPLEMENTATION.md
  docs/TESTING_QUICK_START.md
  docs/TESTING_WITH_CLERK.md
  frontend/src/components/search/AdvancedFilterPanel.tsx
  frontend/src/components/search/constants.ts
  frontend/src/components/search/index.ts
Due: frontend-lint, frontend-check-types

feat: them admin
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/common/guards/roles.guard.ts
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/admin/admin.service.ts
  frontend/src/app/[locale]/admin/analytics/page.tsx
  frontend/src/app/[locale]/admin/announcements/page.tsx
  frontend/src/app/[locale]/admin/audit-logs/page.tsx
  frontend/src/app/[locale]/admin/layout.tsx
  frontend/src/app/[locale]/admin/moderation/page.tsx
  frontend/src/app/[locale]/admin/page.tsx
  frontend/src/app/[locale]/admin/ranking/page.tsx
  frontend/src/app/[locale]/admin/reports/page.tsx
  frontend/src/app/[locale]/admin/staff/page.tsx
  frontend/src/app/[locale]/admin/user-management/page.tsx
  frontend/src/app/[locale]/admin/users/[id]/page.tsx
  frontend/src/app/[locale]/admin/users/page.tsx
  frontend/src/components/admin/AdminSidebar.tsx
  frontend/src/proxy.ts
Due: frontend-lint, frontend-check-types

feat: add announ va tbao modules
  backend/src/modules/announcements/announcements.controller.ts
  backend/src/modules/announcements/announcements.module.ts
  backend/src/modules/announcements/announcements.service.ts
  backend/src/modules/audit-logs/audit-logs.module.ts
  backend/src/modules/audit-logs/audit-logs.service.ts
  backend/src/modules/reports/dto/create-report.dto.ts
  backend/src/modules/reports/reports.controller.ts
  backend/src/modules/reports/reports.module.ts
  backend/src/modules/reports/reports.service.ts
  frontend/src/components/admin/index.ts
  frontend/src/components/artwork-detail/ArtworkActions.tsx
  frontend/src/components/artwork-detail/ReportModal.tsx
  frontend/src/components/layout/AnnouncementBanner.tsx
  frontend/src/components/layout/AppLayoutShell.tsx
Due: frontend-lint, frontend-check-types

feat: trien khai notifications and warn sys module
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/admin/tasks/auto-unban.task.ts
  backend/src/modules/notifications/notifications.controller.ts
  backend/src/modules/notifications/notifications.module.ts
  backend/src/modules/notifications/notifications.service.ts
  backend/src/modules/users/users/users.controller.ts
  frontend/src/app/[locale]/admin/moderation/page.tsx
  frontend/src/components/dashboard/DashboardSidebar.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/NotificationBell.tsx
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

feat: cai thien user mgmt
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  frontend/src/app/[locale]/admin/user-management/page.tsx
  frontend/src/app/[locale]/admin/users/page.tsx
  frontend/src/components/layout/AppHeader.tsx
Due: frontend-lint, frontend-check-types

refactor: go rp va user mgmt page
  frontend/src/app/[locale]/admin/reports/page.tsx
  frontend/src/app/[locale]/admin/user-management/page.tsx
  frontend/src/app/[locale]/admin/users/page.tsx
  frontend/src/components/admin/AdminSidebar.tsx
Due: frontend-lint, frontend-check-types

feat: them tinh nang ve update like, cmt, view
  backend/src/app.module.ts
  backend/src/database/redis.constants.ts
  backend/src/database/redis.module.ts
  backend/src/main.ts
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks/artworks.module.ts
  backend/src/modules/comments/comments.module.ts
  backend/src/modules/comments/comments.service.ts
  backend/src/modules/likes/likes.module.ts
  backend/src/modules/likes/likes.service.ts
  backend/src/modules/queue/queue.module.ts
  backend/src/modules/search/search.service.ts
  backend/src/modules/stats/meilisearch-sync.service.ts
  backend/src/modules/stats/reconciliation.task.ts
  backend/src/modules/stats/stats.constants.ts
  backend/src/modules/stats/stats.module.ts
  backend/src/modules/stats/stats.processor.ts
  backend/src/modules/stats/view.service.ts
Due: none

feat: fix trien khai bullmq
  backend/src/modules/comments/comments.module.ts
  backend/src/modules/comments/comments.service.ts
  backend/src/modules/likes/likes.module.ts
  backend/src/modules/likes/likes.service.ts
  backend/src/modules/stats/stats.processor.ts
Due: none

fix: fouc
  frontend/src/app/[locale]/dashboard/profile/page.tsx
  frontend/src/components/layout/AppHeader.tsx
Due: frontend-lint, frontend-check-types

feat: trien khai monitoring stack voi prometheus va grafana
  .github/workflows/crowdin.yml
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/interceptors/audit-log.interceptor.ts
  backend/src/main.ts
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/announcements/announcements.controller.ts
  backend/src/modules/stats/stats.processor.ts
  docker-compose.yml
  docs/Giaithich.md
  docs/Nestjs_Guide.md
  frontend/crowdin.yml
  frontend/package.json
  frontend/src/app/[locale]/admin/announcements/page.tsx
  frontend/src/libs/Env.ts
  frontend/src/libs/Logger.ts
  package.json
  pnpm-lock.yaml
  tooling/k6/load-test.js
  tooling/monitoring/prometheus.yml
Due: frontend-lint, frontend-check-types

feat: fix lai ci/cd workflow
  .github/actions/setup-project/action.yml
  .github/workflows/backend-CI.yml
  .github/workflows/frontend-CI.yml
  .github/workflows/release.yml
Due: none

chore: fix ci lint
  .github/workflows/backend-CI.yml
  .github/workflows/frontend-CI.yml
  frontend/package.json
  frontend/src/hooks/use-collections.ts
  frontend/src/hooks/use-comments.ts
  frontend/src/hooks/use-like.ts
  frontend/src/libs/fetcher.ts
  package.json
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

chore: fix lint
  .github/workflows/CI.yml
  .github/workflows/backend-CI.yml
  .github/workflows/release.yml
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/comments/comments.service.ts
  backend/src/modules/stats/stats.processor.ts
Due: none

fix: fix lint any backend
  backend/src/app.module.ts
  backend/src/common/decorators/current-user.decorator.ts
  backend/src/common/guards/roles.guard.ts
  backend/src/common/interceptors/audit-log.interceptor.ts
  backend/src/main.ts
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/announcements/announcements.controller.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/audit-logs/audit-logs.service.ts
  backend/src/modules/auth/strategies/clerk.strategy.ts
  backend/src/modules/likes/likes.service.ts
  backend/src/modules/notifications/notifications.controller.ts
  backend/src/modules/notifications/notifications.service.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/reports/reports.controller.ts
  backend/src/modules/reports/reports.service.ts
  backend/src/modules/search/dto/search-artwork.dto.ts
  backend/src/modules/stats/meilisearch-sync.service.ts
  backend/src/modules/stats/stats.processor.ts
  backend/src/modules/storage/storage.service.ts
Due: none
