Repository saya01002x0x/GR: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-check-types

lefthook.yml:

# Validate commit messages
commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}

# Validate content before committing
pre-commit:
  commands:
    frontend-lint:
      root: frontend/
      glob: '*'
      run: npx --no -- eslint --fix --no-warn-ignored {staged_files}
      stage_fixed: true
      priority: 1
    frontend-check-types:
      root: frontend/
      glob: '*.{ts,tsx}'
      run: npm run check:types
      priority: 2

fix: lint again
  .github/workflows/CI.yml
Due: none

fix: lint be
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/likes/likes.service.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/stats/stats.processor.ts
Due: none

fix: fix lint n+1
  backend/src/common/guards/roles.guard.ts
  backend/src/main.ts
Due: none

Notes added by 'git notes add'
  5cf99e56811b1937529ca4df3333aa6f0e313a73
Due: none

feat: configure prometheus
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/strategies/clerk.strategy.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/users/users.service.ts
  docker-compose.yml
  tooling/monitoring/prometheus.yml
Due: none

feat: implement artwork mgmt
  backend/src/main.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  docs/Nestjs_Guide.md
  docs/Nextjs_Guide.md
  frontend/src/components/heropage/ArtistSpotlight.tsx
  frontend/src/components/heropage/HeroSection.tsx
  frontend/src/components/heropage/TrendingSection.tsx
  tooling/k6/README.md
Due: frontend-lint, frontend-check-types

chore: ai ngu vai
  backend/.envmd
  backend/prisma/migrations/0_init/migration.sql
  backend/src/modules/admin/auto-unban.task.ts
  backend/src/modules/auth/clerk-client.provider.ts
  backend/src/modules/auth/clerk.guard.spec.ts
  backend/src/modules/auth/clerk.guard.ts
  backend/src/modules/auth/clerk.strategy.ts
  backend/src/modules/collections/collections.controller.ts
  backend/src/modules/comments/comments.controller.ts
  backend/src/modules/notifications/notifications.controller.ts
  backend/src/modules/reports/reports.controller.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  backend/test/auth.e2e-spec.ts
  docker-compose.test.yml
Due: none

chore: fix rac cua ai 2
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/announcements/announcements.controller.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/likes/likes.controller.ts
Due: none

feat: dong nhat ve reactquery
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/index.ts
  frontend/src/api/hooks/use-announcements.ts
  frontend/src/api/hooks/use-artists.ts
  frontend/src/api/hooks/use-artworks.ts
  frontend/src/api/hooks/use-collections.ts
  frontend/src/api/hooks/use-comments.ts
  frontend/src/api/hooks/use-like.ts
  frontend/src/api/hooks/use-notifications.ts
  frontend/src/api/hooks/use-search.ts
  frontend/src/api/hooks/use-trending.ts
  frontend/src/api/hooks/use-user-profile.ts
  frontend/src/app/[locale]/artworks/[id]/page.tsx
  frontend/src/app/[locale]/dashboard/works/page.tsx
  frontend/src/app/[locale]/discover/page.tsx
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/app/[locale]/upload/page.tsx
  frontend/src/components/artwork-detail/ArtworkActions.tsx
  frontend/src/components/artwork-detail/CommentsSection.tsx
  frontend/src/components/artwork-detail/ReportModal.tsx
  frontend/src/components/artwork-detail/SaveToCollectionModal.tsx
  frontend/src/components/dashboard/DashboardSidebar.tsx
  frontend/src/components/heropage/ArtistSpotlight.tsx
  frontend/src/components/heropage/HeroSection.tsx
  frontend/src/components/heropage/TrendingSection.tsx
  frontend/src/components/layout/AnnouncementBanner.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/NotificationBell.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-collections.ts
  frontend/src/hooks/use-comments.ts
  frontend/src/hooks/use-like.ts
  frontend/src/libs/api.ts
  frontend/src/libs/fetcher.ts
  packages/shared/src/types/api.ts
  packages/shared/src/types/index.ts
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

chore: sua ve duong dan tuong doi o vai module
  backend/src/app.module.ts
  backend/src/modules/artworks/artworks.module.ts
  backend/src/modules/artworks/artworks/artworks.module.ts
  backend/src/modules/queue/queue.module.ts
  backend/src/modules/storage/storage.module.ts
Due: none

feat: dong nhat ve reactquery cho admin pages
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/index.ts
  frontend/src/api/hooks/use-admin.ts
  frontend/src/app/[locale]/admin/analytics/page.tsx
  frontend/src/app/[locale]/admin/announcements/page.tsx
  frontend/src/app/[locale]/admin/audit-logs/page.tsx
  frontend/src/app/[locale]/admin/layout.tsx
  frontend/src/app/[locale]/admin/moderation/page.tsx
  frontend/src/app/[locale]/admin/page.tsx
  frontend/src/app/[locale]/admin/ranking/page.tsx
  frontend/src/app/[locale]/admin/staff/page.tsx
  frontend/src/app/[locale]/admin/users/[id]/page.tsx
  frontend/src/app/[locale]/admin/users/page.tsx
Due: frontend-lint, frontend-check-types

feat: add thanh toan
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/config/env.validation.ts
  backend/src/main.ts
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/payments/payments.controller.ts
  backend/src/modules/payments/payments.module.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/payments/paypal-client.ts
  backend/src/modules/payments/paypal.service.ts
  backend/src/modules/payments/stripe.service.ts
  backend/src/modules/payments/subscription-sync.task.ts
  backend/src/modules/payments/webhook.controller.ts
  docs/env-example.md
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/use-payments.ts
  frontend/src/app/[locale]/admin/payouts/page.tsx
  frontend/src/app/[locale]/checkout/cancel/page.tsx
  frontend/src/app/[locale]/checkout/success/page.tsx
  frontend/src/app/[locale]/dashboard/commissions/page.tsx
  frontend/src/app/[locale]/dashboard/payouts/page.tsx
  frontend/src/components/admin/AdminSidebar.tsx
  frontend/src/components/dashboard/ArtistPayouts.tsx
  frontend/src/components/dashboard/ArtistTiers.tsx
  frontend/src/components/dashboard/DashboardSidebar.tsx
  frontend/src/components/dashboard/MembershipPlan.tsx
  frontend/src/components/dashboard/index.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/payment.ts
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

chore: update package
  package.json
  pnpm-lock.yaml
Due: none

chore: aaaaaaaaaaaaaaaaaaa
  backend/prisma/migrations/20260428073318_init_database/migration.sql
  backend/prisma/migrations/20260428083956_add_artwork_visibility/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/payments/payments.controller.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/users/users.service.ts
  docker-compose.yml
Due: none

chore: fix pnpm package
  backend/package-lock.json
  backend/package.json
  frontend/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend-lint

chore: fix loi hydration
  frontend/next.config.ts
  frontend/package.json
  frontend/src/app/[locale]/layout.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/page.tsx
  frontend/vitest.config.mts
  packages/shared/package.json
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

feat: cai thien artwork flow va payment api
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/payments/payments.controller.ts
  docs/Giaithich.md
  docs/Nextjs_Guide.md
  frontend/src/api/hooks/use-artworks.ts
  frontend/src/app/[locale]/dashboard/works/page.tsx
  frontend/src/app/[locale]/upload/page.tsx
Due: frontend-lint, frontend-check-types

feat: update artist detail va artworks endpoints
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  docs/Giaithich.md
  docs/Nextjs_Guide.md
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/use-artist-artworks.ts
  frontend/src/app/[locale]/artists/[username]/page.tsx
  frontend/src/app/[locale]/artworks/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/artist/ArtworkCard.tsx
  frontend/src/components/artist/ArtworkGallery.tsx
  frontend/src/components/artist/ProfileSidebar.tsx
  frontend/src/components/artwork-detail/ArtworkSidebar.tsx
  frontend/src/libs/MantineProvider.tsx
  frontend/src/mocks/artworkDetailData.ts
  frontend/src/proxy.ts
Due: frontend-lint, frontend-check-types

feat: them membership tier va preview artwork blur cho nguoi chua dang ky, bo sung tab membership
  backend/prisma/migrations/20260602132051_add_blurred_url/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/payments/payments.controller.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/payments/stripe.service.ts
  backend/src/modules/payments/webhook.controller.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/storage/storage.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  docs/Giaithich.md
  docs/Nestjs_Guide.md
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/use-artist-artworks.ts
  frontend/src/api/hooks/use-payments.ts
  frontend/src/api/hooks/use-tier-previews.ts
  frontend/src/app/[locale]/checkout/success/page.tsx
  frontend/src/components/artist/ArtworkGallery.tsx
  frontend/src/components/artist/MembershipTab.tsx
  frontend/src/components/dashboard/MembershipPlan.tsx
  frontend/src/types/artwork.ts
Due: frontend-lint, frontend-check-types

feat: them cac tinh nang moi ve trien khai tim kiem
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/ai-search/ai-search.controller.ts
  backend/src/modules/ai-search/ai-search.module.ts
  backend/src/modules/ai-search/ai-search.service.ts
  backend/src/modules/ai-search/embedding.service.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/duplicate-detection/duplicate-detection.module.ts
  backend/src/modules/duplicate-detection/duplicate-detection.service.ts
  backend/src/modules/payments/stripe.service.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/queue/queue.module.ts
  backend/src/modules/recommendations/interactions.service.ts
  backend/src/modules/recommendations/recommendations.controller.ts
  backend/src/modules/recommendations/recommendations.module.ts
  backend/src/modules/recommendations/recommendations.service.ts
  docker-compose.yml
  docs/Giaithich.md
  docs/Nestjs_Guide.md
  docs/Nextjs_Guide.md
  frontend/package.json
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/use-artworks.ts
  frontend/src/api/hooks/use-search.ts
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SketchSearchIndicator.tsx
  frontend/src/components/search/SketchSearchModal.tsx
  frontend/src/components/search/SketchSearchTrigger.tsx
  frontend/src/components/search/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend-lint, frontend-check-types

feat: bo sung them du lieu seed
  .gitignore
  backend/package.json
  backend/prisma/seed/seed-config.ts
  backend/prisma/seed/seed-reset.ts
  backend/prisma/seed/seed-utils.ts
  backend/prisma/seed/seed.ts
  backend/prisma/seed/seeders/admin.seeder.ts
  backend/prisma/seed/seeders/artworks.seeder.ts
  backend/prisma/seed/seeders/interactions.seeder.ts
  backend/prisma/seed/seeders/tags.seeder.ts
  backend/prisma/seed/seeders/tiers.seeder.ts
  backend/prisma/seed/seeders/users.seeder.ts
  backend/src/database/prisma.service.ts
  docker-compose.test.yml
  docs/Giaithich.md
  docs/Nestjs_Guide.md
  pnpm-lock.yaml
Due: none

chore: update seed
  backend/prisma/seed/seeders/users.seeder.ts
  frontend/src/api/hooks/use-search.ts
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchBar.tsx
Due: frontend-lint, frontend-check-types

feat: them chuc nang thanh toan cho artist
  backend/prisma/schema.prisma
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/ai-search/ai-search.controller.ts
  backend/src/modules/ai-search/ai-search.service.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.module.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/payments/payments.module.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/payments/stripe.service.ts
  backend/src/modules/payments/webhook.controller.ts
  docs/Giaithich.md
  docs/Nextjs_Guide.md
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/index.ts
  frontend/src/api/hooks/useDiscover.ts
  frontend/src/app/[locale]/discover/page.tsx
  frontend/src/components/discover/FeaturedArtwork.tsx
  frontend/src/components/discover/RankingSection.tsx
  frontend/tsconfig.json
  scratch/append_giaithich.js
Due: frontend-lint, frontend-check-types

fix: guest user khong the follow cung nhu la report, bookmark
  frontend/src/components/artwork-detail/ArtworkActions.tsx
  frontend/src/components/artwork-detail/ArtworkSidebar.tsx
Due: frontend-lint, frontend-check-types

fix: ui signin, profile
  frontend/src/app/[locale]/(auth)/(center)/sign-in/[[...sign-in]]/page.tsx
  frontend/src/components/dashboard/GeneralSettings.tsx
  frontend/src/components/layout/AppHeader.tsx
Due: frontend-lint, frontend-check-types

fix: feature ban
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/use-admin.ts
  frontend/src/app/[locale]/admin/users/page.tsx
  frontend/src/app/[locale]/ban/page.tsx
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SketchSearchTrigger.tsx
  frontend/src/proxy.ts
Due: frontend-lint, frontend-check-types

fix: ui discover
  docs/Giaithich.md
  docs/Nextjs_Guide.md
  frontend/src/app/[locale]/(auth)/(center)/sign-in/[[...sign-in]]/page.tsx
  frontend/src/app/[locale]/(auth)/(center)/sign-up/[[...sign-up]]/page.tsx
  frontend/src/app/[locale]/discover/page.tsx
  frontend/src/components/discover/DiscoverGrid.tsx
  frontend/src/styles/global.css
Due: frontend-lint, frontend-check-types

fix: collection bookmark
  backend/src/modules/collections/collections.controller.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/use-collections.ts
  frontend/src/api/hooks/use-comments.ts
  frontend/src/components/artwork-detail/ArtworkActions.tsx
  frontend/src/components/artwork-detail/CommentsSection.tsx
  frontend/src/components/artwork-detail/SaveToCollectionModal.tsx
  packages/shared/src/types/api.ts
Due: frontend-lint, frontend-check-types

fix: report ticket
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/artworks/artworks.service.spec.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/reports/dto/create-report.dto.ts
  docs/Giaithich.md
  docs/Nextjs_Guide.md
  frontend/src/app/[locale]/admin/announcements/page.tsx
  frontend/src/components/artwork-detail/CommentsSection.tsx
Due: frontend-lint, frontend-check-types

refactor: tag, artwork upload, ticket
  backend/prisma/migrations/20260606093000_add_duplicate_report_reason/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/migrate-rating.js
  backend/scripts/view-embeddings.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/artworks/artworks.controller.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/duplicate-detection/duplicate-detection.service.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/reports/dto/create-report.dto.ts
  backend/src/modules/reports/reports.service.ts
  docs/Giaithich.md
  docs/Nextjs_Guide.md
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/use-admin.ts
  frontend/src/app/[locale]/admin/moderation/page.tsx
  frontend/src/app/[locale]/artworks/[id]/page.tsx
  frontend/src/app/[locale]/artworks/[id]/review/page.tsx
  frontend/src/app/[locale]/dashboard/works/page.tsx
  frontend/src/app/[locale]/upload/page.tsx
  frontend/src/components/artist/ProfileSidebar.tsx
  frontend/src/components/artwork-detail/ArtworkSidebar.tsx
  frontend/src/components/artwork-detail/ReportModal.tsx
  frontend/src/components/dashboard/GeneralSettings.tsx
  frontend/src/mocks/artworkDetailData.ts
  frontend/src/types/artwork.ts
Due: frontend-lint, frontend-check-types

fix: minio original image
  backend/package.json
  backend/prisma/schema.prisma
  backend/prisma/seed/seed-ai.ts
  backend/prisma/seed/seeders/artworks.seeder.ts
  backend/src/modules/ai-search/ai-worker.ts
  backend/src/modules/ai-search/embedding.service.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/storage/storage.service.ts
  docs/Giaithich.md
  frontend/src/components/artwork-detail/ArtworkImageGallery.tsx
  frontend/src/types/artwork.ts
  pnpm-lock.yaml
Due: frontend-lint, frontend-check-types

feat: ai semantic
  backend/src/modules/ai-search/ai-search.controller.ts
  backend/src/modules/ai-search/ai-search.service.ts
  frontend/src/api/hooks/use-search.ts
Due: frontend-lint, frontend-check-types

feat: tier subscribtion
  backend/prisma/schema.prisma
  backend/src/modules/artworks/artworks.service.spec.ts
  backend/src/modules/artworks/artworks.service.ts
  backend/src/modules/payments/payments.controller.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/users/users.service.ts
  backend/src/utils/tier-helpers.ts
  docs/Giaithich.md
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/use-payments.ts
  frontend/src/components/artist/ArtworkCard.tsx
  frontend/src/components/dashboard/ArtistTiers.tsx
  packages/shared/src/types/payment.ts
Due: frontend-lint, frontend-check-types

fix: payout
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/payments/webhook.controller.ts
  frontend/src/api/hooks/use-payments.ts
  frontend/src/app/[locale]/admin/payouts/page.tsx
  frontend/src/components/dashboard/ArtistPayouts.tsx
  packages/shared/src/types/payment.ts
Due: frontend-lint, frontend-check-types

chore: gr docs
  .gitignore
  slide/official/Bia.tex
  slide/official/Bia_lot.tex
  slide/official/Chuong/0_2_Loi_cam_on.tex
  slide/official/Chuong/0_3_Tom_tat_noi_dung.tex
  slide/official/Chuong/0_4_Tom_tat_noi_dung_English.tex
  slide/official/Chuong/0_5_Danh_muc_viet_tat.tex
  slide/official/Chuong/0_6_Thuat_ngu.tex
  slide/official/Chuong/1_Gioi_thieu.tex
  slide/official/Chuong/2_Khao_sat.tex
  slide/official/Chuong/3_Cong_nghe.tex
  slide/official/Chuong/4_Ket_qua_thuc_nghiem.tex
  slide/official/Chuong/5_Giai_phap_dong_gop.tex
  slide/official/Chuong/6_Ket_luan.tex
  slide/official/Chuong/7_Luu_y_tai_lieu_tham_khao.tex
  slide/official/Chuong/Phu_luc_A.tex
  slide/official/Chuong/Phu_luc_B.tex
  slide/official/Danh_sach_tai_lieu_tham_khao.bib
  slide/official/DoAn.tex
  slide/official/Tu_viet_tat.tex
  slide/official/lstlisting.tex
Due: none

chore: update docs before chang feat
  .gitignore
  slide/official/Bia.tex
  slide/official/Bia_lot.tex
  slide/official/Chuong/0_2_Loi_cam_on.tex
  slide/official/Chuong/0_3_Tom_tat_noi_dung.tex
  slide/official/Chuong/0_4_Tom_tat_noi_dung_English.tex
  slide/official/DoAn.pdf
  slide/official/DoAn.tex
Due: none

feat: folow, notice
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/comments/comments.module.ts
  backend/src/modules/comments/comments.service.ts
  backend/src/modules/follows/follows.controller.ts
  backend/src/modules/follows/follows.module.ts
  backend/src/modules/follows/follows.service.ts
  backend/src/modules/likes/likes.module.ts
  backend/src/modules/likes/likes.service.ts
  backend/src/modules/notifications/notification.constants.ts
  backend/src/modules/notifications/notification.processor.ts
  backend/src/modules/notifications/notifications.controller.ts
  backend/src/modules/notifications/notifications.module.ts
  backend/src/modules/notifications/notifications.service.ts
  backend/src/modules/queue/processors/artwork.processor.ts
  backend/src/modules/users/users.service.ts
  frontend/src/api/endpoints.ts
  frontend/src/api/hooks/index.ts
  frontend/src/api/hooks/use-follow-list.ts
  frontend/src/api/hooks/use-follow.ts
  frontend/src/api/hooks/use-following-feed.ts
  frontend/src/api/hooks/use-notification-preferences.ts
  frontend/src/app/[locale]/dashboard/follows/page.tsx
  frontend/src/app/[locale]/feed/page.tsx
  frontend/src/components/artist/ProfileSidebar.tsx
  frontend/src/components/artwork-detail/ArtworkSidebar.tsx
  frontend/src/components/dashboard/DashboardSidebar.tsx
  frontend/src/components/dashboard/FollowList.tsx
  frontend/src/components/dashboard/NotificationSettings.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/NotificationBell.tsx
Due: frontend-lint, frontend-check-types

feat: cai thien fetching cache va prefetch
  .gitignore
  docs/Giaithich.md
  docs/Nextjs_Guide.md
  frontend/next.config.ts
  frontend/src/api/hooks/use-follow.ts
  frontend/src/api/hooks/use-following-feed.ts
  frontend/src/api/hooks/use-notifications.ts
  frontend/src/api/hooks/use-search.ts
  frontend/src/api/hooks/use-trending.ts
  frontend/src/api/hooks/useDiscover.ts
  frontend/src/app/[locale]/feed/page.tsx
  frontend/src/components/artwork/ArtworkCard.tsx
  frontend/src/components/feed/FeedArtworkCard.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/libs/QueryProvider.tsx
Due: frontend-lint, frontend-check-types
